@{
    // Adding cookie 
    HttpCookie aCookie = new HttpCookie("lastVisit");
    aCookie.Value = DateTime.Now.ToString();
    aCookie.Expires = DateTime.Now.AddMonths(3);
    Response.Cookies.Add(aCookie);

    var menulink = new string[9] { "/components/control/site", "/components/control/editor", "/components/control/allpages", "/components/control/pageedit", "/components/control/newpage", "/components/control/menu", "/components/control/menuedit", "/components/control/account", "/components/control/visits" };  // Array with the page address


}
<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title - Панель управления</title>
         
            <link href="~/Components/ui/css/Control/Style.css" media="all" rel="stylesheet" />
            <link href="~/Components/ui/css/grid-control.css" rel="stylesheet" />
            <link href="~/Components/jGrowl/jquery.jgrowl.css" rel="stylesheet" />


            <script src="//code.jquery.com/jquery-1.9.1.js"></script>
            <script src="~/Components/jGrowl/jquery.jgrowl.js"></script>


        @RenderSection("head", required: false)
    </head>
    <body>
        
        <div class="b-layout">
            <div class="b-header">
                
                    <a class="logo" href="~/Components/Control/Default" title="На главную"></a>
                
                <div class="b-header-account">
                   <a href="~/">Ваш сайт</a> | Пользователь: @WebSecurity.CurrentUserName | <a href="~/Account/Logout">Выход</a>
                </div>

                <div class="b-header-menu">
                    <a @if(Request.Url.LocalPath == menulink[0] || Request.Url.LocalPath == menulink[1]){
                           <text>class="active"</text>
                    }
                         href="/Components/Control/Site">Сайт</a>
                    <a @if (Request.Url.LocalPath == menulink[2] || Request.Url.LocalPath == menulink[3] || Request.Url.LocalPath == menulink[4])
                       {
                           <text>class="active"</text>
                    }
                         href="/Components/Control/AllPages">Страницы</a>
                    
                    <a @if(Request.Url.LocalPath == menulink[5] || Request.Url.LocalPath == menulink[6]){
                           <text>class="active"</text>
                    }
                         href="/Components/Control/Menu">Меню</a>
                    <a @if (Request.Url.LocalPath == menulink[7] || Request.Url.LocalPath == menulink[8])
                       {
                           <text>class="active"</text>
                    }
                          href="/Components/Control/Account">Аккаунт</a>
                </div>
            </div>
            <div class="b-content">
                @RenderSection("SubMenu", false)
                

                @RenderBody()
            </div>
            <div class="b-footer">
                <div class="b-footer-section">
                    <img src="" alt="Greengrocery Project" />
                </div>
                <div class="b-footer-section">
                    2
                </div>
                <div class="b-footer-section">
                    <img src="" alt="World Fly" />
                </div>
            </div>
        </div>
        
    </body>
</html>
