@{
    Page.Title = "Новая страница";

    var errorm = "";
    var IsValid = true;

    var pagename = Request["pagename"];
    var pageurl = Request["pageurl"];
    var pagedescr = Request["pagedescr"];
    var pageauthor = Request["pageauthor"];
    var pagelayout = Request["pagelayout"];
    var pagecontent = Request.Unvalidated("pagecontent");

    var db = Database.Open("Datebase");


    DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath("~/Components/Layouts"));
    FileInfo[] fileInfo = dirInfo.GetFiles("_*.cshtml", SearchOption.TopDirectoryOnly);

    if (IsPost)
    {
        AntiForgery.Validate();

        pagename = Request["pagename"];
        if (pagename.IsEmpty())
        {

            IsValid = false;
        }

        pageurl = Request["pageurl"];
        if (pageurl.IsEmpty())
        {

            IsValid = false;
        }

        pagedescr = Request["pagedescr"];


        pageauthor = Request["pageauthor"];


        pagelayout = Request["pagelayout"];
        if (pagelayout.IsEmpty())
        {

            IsValid = false;
        }

        pagecontent = Request.Unvalidated("pagecontent");
        if (pagecontent.IsEmpty())
        {

            IsValid = false;
        }

        var today = DateTime.Now;
        if (IsValid)
        {
            try
            {
                db.Execute("INSERT into Pages (Name, Content, Date, Url, Layout, Description, Author, Submitted) values (@0, @1, @2, @3, @4, @5, @6, @7)", pagename, pagecontent, today, pageurl, pagelayout, pagedescr, pageauthor, today);

                Response.Redirect("~/Components/Control/PageEdit?id=" + db.GetLastInsertId());
            }
            catch (Exception ex)
            {

                errorm = ex.Message.ToString();
            }

        } else{
                errorm += "Есть ошибки в заполнении формы. Попробуйте снова.";
        }
    }
}

@if (!errorm.IsEmpty() || IsValid != true){
    <script>
        $(function ($) {
            $.jGrowl('Произошла ошибка');
            $.jGrowl('@errorm');
        })
    </script>
}

@section SubMenu{
    <table class="submenu">
        <tr>
            <td>
                <a href="~/Components/Control/AllPages">Все</a>
            </td>
            <td class="active">
                <a href="~/Components/Control/NewPage">Новая</a>
            </td>
        </tr>
    </table>
}

<noscript>@errorm</noscript>

<form id="c-form-pages-new" action="@Request.Url" method="post">
    @AntiForgery.GetHtml()

    <div class="b-form-item required">
        <label for="pagename">Название страницы:</label>
        <input id="pagename" class="input" type="text" name="pagename" value="@pagename"/>
        <span style="display: none;" class="error error-name"></span>
    </div>
    <div class="b-form-item required">
        <label for="pageurl">Адрес страницы:</label>
        <input id="pageurl" class="input" type="text" name="pageurl" value="@pageurl"/>
        <span style="display: none;" class="error error-uri"></span>
    </div>
    <div class="b-form-item">
        <label for="pagedescr">Описание страницы:</label>
        <input id="pagedescr" class="input" type="text" name="pagedescr" value="@pagedescr"/>

    </div>
    <div class="b-form-item required">
        <label for="pageauthor">Автор страницы:</label>
        <input id="pageauthor" class="input" type="text" name="pageauthor" value="@pageauthor"/>

    </div>
    <div class="b-form-item required">
        <label for="pagename">Макет сраницы:</label>
        <select id="pagelayout" name="pagelayout">
            @foreach (var f in fileInfo)
            {
                <option value="@Functions.CleanRCNames(f.Name)" >@Functions.CleanRCNames(f.Name)</option>
            }
        </select>

    </div>
    <div class="b-form-item required">
        <label for="pagecontent">Содержимое страницы:</label>
        <textarea id="pagecontent" name="pagecontent" style="width: 80%; min-width: 580px;">@pagecontent</textarea>
    </div>
    <div class="b-form-button">
        <input type="submit" value="Сохранить" />
    </div>
</form>
    <script src="~/Components/CKEditor/ckeditor.js"></script>
    <script src="~/Components/CKEditor/styles.js"></script>

    <link href="~/Components/CKEditor/skins/moono/editor.css" rel="stylesheet" />
    <link href="~/Components/CKEditor/skins/moono/dialog.css" rel="stylesheet" />
    <script src="~/Components/ui/js/Control/CKEditor-loader.js"></script>



    <script>
        //Валидация полей формы
        var errortext = "Поле обязательно для заполнения";
        var IsValid = true;
        $(function ($) {
            $('#pagename').blur(function () {
                var value = $(this).val();
                if (value == "") {
                    $(".error-name").show().text(errortext);
                    IsValid = false;
                } else {
                    $(".error-name").hide();
                    IsValid = true;
                }
            });

            $('#pageurl').blur(function () {
                var value = $(this).val();
                if (value == "") {
                    $(".error-uri").show().text(errortext);
                    IsValid = false;
                } else {
                    $(".error-uri").hide();
                    IsValid = true;
                }
            });

            var form = document.getElementById("c-form-pages-new");
            form.onsubmit = function () {
                if (!IsValid) {
                    $.jGrowl('Заполните все необходимые поля формы');
                    return false;
                }
            };
        })
    </script>
