@{
    Page.Title = "Настройки";

    var db = Database.Open("Datebase");

    var dmetavalue = "";
    var dstatvalue = "";
    var errorm = "";


    var data = db.QuerySingle("SELECT * FROM Settings WHERE Id = @0", 1);

    if(data.SiteMeta == "on"){
        dmetavalue = " checked=\"checked\" ";
    } else {
        dmetavalue = "";
    }

    if(data.SiteStat == "on"){
        dstatvalue = " checked=\"checked\" ";
    } else {
        dstatvalue = "";
    }

    if(IsPost){
        AntiForgery.Validate();
        var sitename = Request["sitename"];
        if(sitename == null){
            
        }
        var sitelang = Request["sitelang"];
        if(sitelang == null){
            
        }
        var pagesepr = Request["pagesepr"];
        if(pagesepr == null){
            
        }

        var sitekeyw = Request["keywords"];

        var sitemeta = Request["sitemeta"];
        /*if(sitemeta == null){
            sitemeta = "false";
        }
        sitemeta = "true";*/

        var sitestat = Request["sitestat"];

        var sitestatcode = Request.Unvalidated("sitestatcode");

        try{
            db.Execute("UPDATE Settings SET SiteName=@0, SiteLang=@1, PageNameSep=@2, SiteMeta=@3, SiteKeywords=@4, SiteStat=@5, SiteStatCode=@6 WHERE Id=@7", sitename, sitelang, pagesepr, sitemeta, sitekeyw, sitestat, sitestatcode, 1);
                        
            Response.Redirect("~/Components/Control/Settings");
        } catch (Exception ex){
            errorm = ex.Message.ToString();
        }

    }
    
    
}
@section Head{
    <style>
        .b-tabs {
            padding: 20px 0 10px 0;
            width: 100%;
            border-bottom: 1px solid;
        }
        .b-tabs-list {
            list-style: none;
            display: inline;
        }
        .b-tabs-list-item {
            display: inherit;
            border-left: 1px solid;
            border-top: 1px solid;
            border-right: 1px solid;
            margin: 0 5px 0 0;
            padding: 6px 7px 10px 6px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .i-tabs-link-item-link {
            border-bottom: 0 none;
        }
    </style>
}
@errorm

<div class="b-tabs">
    <ul class="b-tabs-list">
        <li class="b-tabs-list-item active">
            <a class="i-tabs-link-item-link" href="Settings">Сайт</a>
        </li>
        <li class="b-tabs-list-item" style="width: 100px;">
            <a class="i-tabs-link-item-link"  href="UserSettings">Аккаунт</a>
        </li>
    </ul>
</div>

<form action="@Request.Url" method="post">
    @AntiForgery.GetHtml()
   <table>
        <tbody>
            <tr>
                <td class="b-table-label">
                    <label for="sitename">Название сайта:</label>
                </td>
                <td>
                    <input id="sitename" class="input" type="text" name="sitename" value="@data.SiteName"/>
                </td>
            </tr>
            <tr>
                <td class="b-table-label">
                   <label for="sitelang">Язык сайта:</label>
                </td>
                <td>
                    <input id="sitelang" class="input" type="text" name="sitelang" value="@data.SiteLang"/>
                </td>
            </tr>
            <tr>
                <td class="b-table-label">
                    <label for="pagesepr">Разделитель названия страницы:</label>
                </td>
                <td>
                    <input id="pagesepr" class="input" type="text" name="pagesepr" value="@data.PageNameSep"/>
                </td>
            </tr>
        <tr>
                <td class="b-table-label">
                    <label for="sitemeta">Мета данные:</label>
                </td>
                <td>
                    <input class="meta" id="sitemeta" type="checkbox" @Html.Raw(dmetavalue) name="sitemeta"/>
            @if(data.SiteMeta == "on"){
            <span class="i-text-tiny">← Подумайте перед тем как выключать</span>
            } 
                </td>
            </tr>
        <tr>
                <td class="b-table-label">
                    <label for="keywords">Ключевые слова сайта:</label>
                </td>
                <td>
                    <input id="keywords" class="input" type="text"  name="keywords" value="@data.SiteKeywords"/>
                </td>
            </tr>
        <tr>
                <td class="b-table-label">
                    <label for="sitestat">Отправка общей статистики:</label>
                </td>
                <td>
                    <input id="sitestat" class="stat" type="checkbox" @Html.Raw(dstatvalue) name="sitestat"/> 
            
            <span class="i-text-tiny">← Это помогает развитию проекта</span>
                </td>
            </tr>
        <tr>
                <td class="b-table-label">
                    <label  for="sitestatcode">Код вашей статистики:</label>
                </td>
                <td>
                    <textarea class="textarea-set" id="sitestatcode" name="sitestatcode">@data.SiteStatCode</textarea>
                </td>
            </tr>
        <tr>
                <td class="b-table-label">
                    <input type="submit" class="btn" value="Сохранить"/>
                </td>
                
            </tr>
        </tbody>
   </table>

</form>
