@{
    Page.Title = "Настройки";

    var db = Database.Open("Datebase");

    var dmetavalue = "";
    var dstatvalue = "";
    var errorm = "";


    var data = db.QuerySingle("SELECT * FROM Settings WHERE Id = @0", 1);

    if(data.SiteMeta == "on"){
        dmetavalue = " checked=\"checked\" ";
    } else {
        dmetavalue = "";
    }

    if(data.SiteStat == "on"){
        dstatvalue = " checked=\"checked\" ";
    } else {
        dstatvalue = "";
    }

    if(IsPost){
        AntiForgery.Validate();
        var sitename = Request["sitename"];
        if(sitename == null){
            
        }
        var sitelang = Request["sitelang"];
        if(sitelang == null){
            
        }
        var pagesepr = Request["pagesepr"];
        if(pagesepr == null){
            
        }

        var sitekeyw = Request["keywords"];

        var sitemeta = Request["sitemeta"];
        /*if(sitemeta == null){
            sitemeta = "false";
        }
        sitemeta = "true";*/

        var sitestat = Request["sitestat"];

        var sitestatcode = Request.Unvalidated("sitestatcode");

        try{
            db.Execute("UPDATE Settings SET SiteName=@0, SiteLang=@1, PageNameSep=@2, SiteMeta=@3, SiteKeywords=@4, SiteStat=@5, SiteStatCode=@6 WHERE Id=@7", sitename, sitelang, pagesepr, sitemeta, sitekeyw, sitestat, sitestatcode, 1);
                        
            Response.Redirect("~/Components/Control/Settings");
        } catch (Exception ex){
            errorm = ex.Message.ToString();
        }

    }
    
}
@errorm
<form action="@Request.Url" method="post">
    @AntiForgery.GetHtml()
   <table>
        <tbody>
            <tr>
                <td class="table-label">
                    <label for="sitename">Название сайта:</label>
                </td>
                <td>
                    <input id="sitename" class="input" type="text" name="sitename" value="@data.SiteName"/>
                </td>
            </tr>
            <tr>
                <td class="table-label">
                   <label for="sitelang">Язык сайта:</label>
                </td>
                <td>
                    <input id="sitelang" class="input" type="text" name="sitelang" value="@data.SiteLang"/>
                </td>
            </tr>
            <tr>
                <td class="table-label">
                    <label for="pagesepr">Разделитель названия страницы:</label>
                </td>
                <td>
                    <input id="pagesepr" class="input" type="text" name="pagesepr" value="@data.PageNameSep"/>
                </td>
            </tr>
        <tr>
                <td class="table-label">
                    <label for="sitemeta">Мета данные:</label>
                </td>
                <td>
                    <input class="meta" id="sitemeta" type="checkbox" @Html.Raw(dmetavalue) name="sitemeta"/>
            @if(data.SiteMeta == "on"){
            <span class="text-tiny">← Подумайте перед тем как выключать</span>
            } 
                </td>
            </tr>
        <tr>
                <td class="table-label">
                    <label for="keywords">Ключевые слова сайта:</label>
                </td>
                <td>
                    <input id="keywords" class="input" type="text"  name="keywords" value="@data.SiteKeywords"/>
                </td>
            </tr>
        <tr>
                <td class="table-label">
                    <label for="sitestat">Отправка общей статистики:</label>
                </td>
                <td>
                    <input id="sitestat" class="stat" type="checkbox" @Html.Raw(dstatvalue) name="sitestat"/> 
            
            <span class="text-tiny">← Это помогает развитию проекта</span>
                </td>
            </tr>
        <tr>
                <td class="table-label">
                    <label  for="sitestatcode">Код вашей статистики:</label>
                </td>
                <td>
                    <textarea class="textarea-set" id="sitestatcode" name="sitestatcode">@data.SiteStatCode</textarea>
                </td>
            </tr>
        <tr>
                <td class="table-label">
                    <input type="submit" class="btn" value="Сохранить"/>
                </td>
                
            </tr>
        </tbody>
   </table>
    
    @*<ol>
        <li>
            <label for="sitename">Название сайта:</label>
            
        </li>
        <li>
            <label for="sitelang">Язык сайта:</label>
            <input id="sitelang" type="text" name="sitelang" value="@dlang.SetValue"/>
           
        </li>
        <li>
            <label for="pagesepr">@dps.SetDescr:</label>
            <input id="pagesepr" type="text" name="pagesepr" value="@dps.SetValue"/>
        </li>
        <li>
            <label for="sitemeta">@dmeta.SetDescr:
            <input class="meta" id="sitemeta" type="checkbox" @Html.Raw(dmetavalue) name="sitemeta"/> </label>
            @if(dmeta.SetValue == "on"){
            <span class="text-tiny">← Подумайте перед тем как выключать</span>
            } 
        </li>
        <li>
            <label for="keywords">Ключевые слова сайта:</label>
            <input id="keywords" type="text"  name="keywords" value="@ddkeyw.SetValue"/>
           
        </li>
        <li>
            <label for="sitestat">Отправка общей статистики:</label>
            <input id="sitestat" class="stat" type="checkbox" @Html.Raw(dstatvalue) name="sitestat"/> 
            
            <span class="text-tiny">← Это помогает развитию проекта</span>
            
        </li>
        <li>
            <label  for="sitestatcode">Код вашей статистики:</label>
            
            <textarea id="sitestatcode" name="sitestatcode">@dstatcode.SetValue</textarea>
           
        </li>
        <li>
            <label for="logo">Ключевые слова сайта:</label>
            <input type="file" name="logo"/>
           
        </li>
        <li>
        <input type="submit" class="btn" value="Сохранить"/>
        </li>
    </ol>*@
</form>